.about {
  min-height: 753px;
  background-color: $color-default-white;
  background-image: url("../img/about-watercolor_bg-d.webp");
  background-position: 0 159px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-bottom: 115px;

  @media (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: url("../img/about-watercolor_bg-d@2x.webp");
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/about-watercolor_bg-m.webp");
    background-position: 0 200px;
    min-height: 517px;

    @media (max-width: $desktop-width) and (min-resolution: 2dppx) {
      background-image: url("../img/about-watercolor_bg-m@2x.webp");
    }
  }
}

.about h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $header-color;
  margin-top: 16px;
  margin-bottom: 24px;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 39px;
    margin-top: 27px;
  }
}

.about p {
  margin-bottom: 49px;

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    margin-bottom: 22px;
  }
}

.about-wrap {
  width: 67%;
  text-align: center;
}

.about__img {
  margin: 0  auto;
}

.about__video-wrapper {
  position: relative;
  background-color: $arrow-gradient;
}

.about__button {
  position: absolute;
  top: 34.5%;
  background: transparent;
  border: none;
  left: 45%;

  @media (max-width: $desktop-width) {
    left: 50%;
    transform: translateX(-50%);
    top: 31.5%;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
  }
}
