.page-header {
  min-height: 879px;
  background-color: $color-default-white;
  background-image: url("../img/bg-promo-d.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-promo-d@2x.webp");
  }

  @media (max-width: 767px) {
    min-height: 605px;
    background-position: 0 31px;
    background-image: url("../img/bg-promo-m.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-promo-m@2x.png");
    }
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 10px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    text-align: end;
    padding: 0;
  }
}

.page-header__btn {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $color-default-black;
  padding: 10px 0;
  font-variant: small-caps;
  text-transform: uppercase;
  border-bottom: 1px dashed $color-default-black;

  @media (max-width: $desktop-width) {
    align-self: flex-end;
    font-size: 13px;
    line-height: 15px;
    padding-top: 0;
    padding-bottom: 1px;
  }
}

.page-header__phone {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $color-default-black;
  padding-top: 19px;

  @media (max-width: $desktop-width) {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $desktop-width) {
    left: 68px;
    top: 20px;
    width: 120px;
    height: 42px;
  }
}

.page-header__icon-scroll {
  position: absolute;
  fill: $color-default-white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 119px;
}

.page-header__wrapper p {
  position: absolute;
  color: $color-default-white;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  left: 50%;
  transform: translateX(-50%);
  bottom: 257px;

  @media (max-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    bottom: 202px;
  }
}

.page-header__scroll {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='76' height='132' viewBox='0 0 76 132' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cpath d='M38 76V131.5' stroke='white'/%3e%3crect x='29' y='25' width='17' height='26' fill='url(%23pattern0)'/%3e%3ccircle cx='38' cy='38' r='26.5' stroke='white'/%3e%3ccircle cx='38' cy='38' r='37.5' stroke='white' stroke-dasharray='4 4'/%3e%3cdefs%3e%3cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3e%3cuse xlink:href='%23image0_6254_22' transform='scale(0.0588235 0.0384615)'/%3e%3c/pattern%3e%3cimage id='image0_6254_22' width='17' height='26' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAaCAYAAABRqrc5AAABzklEQVQ4jd2VO2hUQRSGv70bg0QNwoIoBEQDQdLEQiEpbEWIhZBCCystFFuxSKNgI1gK1mIjWBgUgphCfFWCjURiBLVTgyTE1Rif2c9iZ8nJbLKulvnhcM/zZ+bOnf+WVDL0AEeAYaAP6AYWgDfABDCW/GWo0Y6rL2yNt+rpOBcJzqm/QvOsOqFeV++qMxnZpZzkmPozFRfVy+rObJXb1QtqNRCdaZBsU6dSckE9lQ3ndlSdT/3v1F7Uk4H5ajbQp55V92b5i2FmFPVmCr6o/aGxrN5KtQdqV7a1xjt6WAC96aBeA9Ph4DYCleR3J2tgBnie/F0FsCkFc0Atnn6Ia1kNYDY9u4qQLLKmElAOtdXqAOaFiB/AfPK/Ap/XauxoQfIbGAWeAI+Axf8hAXiZrCVabadtrEOSJlVqEyu+k08p2AF0/gNJT3pWC2AyBbuBwTYJ9gADyZ9CPazW0o0cVzv+oieo14IUnEDdot4LySvq5jWGy+p5l2X0mVppFPepHwLRfXXEuuptUCvqsHo7rLqqHjQT6kMZ0ZL6UX2lvneliM9Z1+UmtUcdUG+o31wdS+oddSjOlWz+eZWB/cABoB/YSv0GTwOPgafA9zjwB58rtSzklNU8AAAAAElFTkSuQmCC'/%3e%3c/defs%3e%3c/svg%3e ");
  height: 132px;
  width: 76px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  bottom: 119px;
  transform: translateX(-50%);
  left: 50%;

  @media (max-width: $desktop-width) {
    bottom: 58px;
  }
}
